Repository lpoaura/PluginQGis-LPOData, changes with the labels that .github/labeler.yml gives for each.
All labels: ci-cd, dependencies, documentation, packaging, quality, tooling

.github/labeler.yml:

ci-cd:
  - .github/workflows/*
  - .github/labeler.yml

dependencies:
  - requirements.txt
  - requirements/*.txt

documentation:
  - docs/**/*

packaging:
  - requirements/packaging.txt
  - setup.py

quality:
  - tests/**/*

tooling:
  - .pre-commit-config.yaml
  - .vscode/**/*
  - setup.cfg

update version
  CHANGELOG.md
  plugin_qgis_lpo/metadata.txt
Labels: none

fix link
  CHANGELOG.md
Labels: none

actualisation code vues
  config/mv_c_cor_vn_taxref.sql
  config/mv_statuts.sql
  config/v_c_observations.sql
  config/v_c_observations_light.sql
Labels: none

fix changelog
  CHANGELOG.md
  plugin_qgis_lpo/processing/processing_algorithm.py
  plugin_qgis_lpo/processing/summary_table_per_species_lpoaura.py.old
  setup.cfg
Labels: tooling

first translation file
  plugin_qgis_lpo/resources/i18n/plugin_qgis_lpo_en.ts
Labels: none

first translation file
  CHANGELOG.md
Labels: none

echo CI
  .github/workflows/releaser.yml
Labels: ci-cd

WIP fix releaser
  .github/workflows/releaser.yml
Labels: ci-cd

WIP CI release Debug
  .github/workflows/releaser.yml
Labels: ci-cd

Fix get repository error
  setup.cfg
Labels: tooling

fix empty layer check error
  plugin_qgis_lpo/processing/processing_algorithm.py
Labels: none

update changelog
  CHANGELOG.md
Labels: none

update changelog
  plugin_qgis_lpo/metadata.txt
Labels: none

update README
  README.md
Labels: none

update tester.yml
  .github/workflows/tester.yml
Labels: ci-cd
